# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librer√≠a Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [16]:
import pandas as pd

def cargar_datos():
    traerDatos = pd.read_fwf('datos.dat', widths=(10, 30, 10, 5), names=('Fecha', 'Producto','Precio', 'Cantidad'))
    #hago q empiece en 1 
    traerDatos.index= range(1, len(traerDatos)+1)
    return traerDatos
datos = cargar_datos()
datos

         Fecha    Producto  Precio  Cantidad
1   2024-08-27     Mirinda    1510        14
2   2024-08-27     Mirinda    1560        12
3   2024-08-28     Torasso     940         8
4   2024-08-29  Pepsi Cola    1210        10
5   2024-08-30     Mirinda    1520         1
6   2024-09-01     Mirinda    1550        15
7   2024-09-01      Sprite     810         4
8   2024-09-02   Coca Cola    1100         4
9   2024-09-02  Pepsi Cola    1220        13
10  2024-09-02     Torasso     910         5
11  2024-09-02     Torasso     920         3
12  2024-09-03   Coca Cola    1020         8
13  2024-09-03     Mirinda    1570         7
14  2024-09-03     Mirinda    1590         2
15  2024-09-04  Pepsi Cola    1220        13
16  2024-09-05     Mirinda    1500         3
17  2024-09-05  Pepsi Cola    1300         5
18  2024-09-06   Coca Cola    1080         1
19  2024-09-06      Sprite     860        12
20  2024-09-06     Torasso     930         3
21  2024-09-07   Coca Cola    1080        14
22  2024-09-07      Sprite     870        13
23  2024-09-08   Coca Cola    1040        10
24  2024-09-08     Mirinda    1580         2
25  2024-09-08  Pepsi Cola    1240         9
26  2024-09-09     Mirinda    1500         3
27  2024-09-09      Sprite     850         9
28  2024-09-10     Mirinda    1590         8
29  2024-09-10  Pepsi Cola    1250        12
30  2024-09-11      Sprite     810         6
31  2024-09-11      Sprite     820        14
32  2024-09-12   Coca Cola    1080         4
33  2024-09-13     Mirinda    1580         5
34  2024-09-13  Pepsi Cola    1250        13
35  2024-09-14   Coca Cola    1080        15
36  2024-09-14  Pepsi Cola    1270        14
37  2024-09-15   Coca Cola    1100         1
38  2024-09-15     Mirinda    1500        13
39  2024-09-15      Sprite     870        14
40  2024-09-15     Torasso     900        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una funci√≥n que sume los importes vendidos (precio * cantidad) y las cantidades.

In [17]:
def calcular_totales(datos):
    importe= (datos['Precio'] * datos['Cantidad']).sum()
    cantidad = (datos['Cantidad']).sum()
    return importe, cantidad   
importe, cantidad = calcular_totales(datos)
print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")

Las ventas fueron de $392730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cu√°ntas unidades se vendieron en total para cada producto

In [18]:
def unidades_vendidas(datos):
    resultado = datos.groupby('Producto')['Cantidad'].sum().reset_index()
    resultado.columns=['Producto', 'Unidades Vendidas']
    resultado.index=range(1, len(resultado)+1)
    
    return resultado
unidades_vendidas(datos)

     Producto  Unidades Vendidas
1   Coca Cola                 57
2     Mirinda                 85
3  Pepsi Cola                 89
4      Sprite                 72
5     Torasso                 32

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [19]:
def precio_promedio(datos):
    promedio= datos.groupby('Producto')['Precio'].mean().reset_index()
    promedio.columns=['Producto', 'Precio Promedio']
    promedio.index=range(1, len(promedio) +1)
    promedio['Precio Promedio']= promedio['Precio Promedio'].astype(int)
    return promedio
precio_promedio(datos)

     Producto  Precio Promedio
1   Coca Cola             1072
2     Mirinda             1545
3  Pepsi Cola             1245
4      Sprite              841
5     Torasso              920

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos m√°s vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [20]:
def ranking_productos(datos, top=3):
    producto = datos.groupby('Producto')['Cantidad'].sum().reset_index()
    producto = producto.sort_values(by='Cantidad', ascending=False)
    
    producto.index= range(1,len(producto)+1)
    print("Productos Mas Vendidos:")
    return producto.head(3)

ranking_productos(datos)

Productos Mas Vendidos:

     Producto  Cantidad
1  Pepsi Cola        89
2     Mirinda        85
3      Sprite        72

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [21]:
def ventas_por_mes(datos):
    datos['Fecha']= pd.to_datetime(datos['Fecha'])
    
    mes=pd.DataFrame(datos)
    mes['Mes'] = mes['Fecha'].dt.month_name()
    
    ventas= mes.groupby(['Producto', 'Mes'])['Cantidad'].sum().reset_index()
    ventas.index= range(1, len(ventas)+1)
    return ventas
ventas_por_mes(datos)

     Producto        Mes  Cantidad
1   Coca Cola  September        57
2     Mirinda     August        27
3     Mirinda  September        58
4  Pepsi Cola     August        10
5  Pepsi Cola  September        79
6      Sprite  September        72
7     Torasso     August         8
8     Torasso  September        24

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [22]:
# importe total
def resumen_ventas(datos):
    precio = datos.groupby('Producto')['Precio'].mean().reset_index()
    cantidad = datos.groupby('Producto')['Cantidad'].sum().reset_index()

    
    listado=precio.merge(cantidad,  on='Producto')
    listado['Precio']= listado['Precio'].round(2)
    
    listado['Importe Total'] = listado ['Cantidad'] * listado['Precio']
    
    listado.columns=['Producto', 'Precio Promedio', 'Cantidad', 'Importe Total']
    
    listado = listado.sort_values(by ='Producto')
    listado.index=range(1,len(listado)+1)
  
    return listado
resumen_ventas(datos)

     Producto  Precio Promedio  Cantidad  Importe Total
1   Coca Cola          1072.50        57       61132.50
2     Mirinda          1545.83        85      131395.55
3  Pepsi Cola          1245.00        89      110805.00
4      Sprite           841.43        72       60582.96
5     Torasso           920.00        32       29440.00

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una funci√≥n en Python que encuentre los valores de `a`, `b`, y `c` para que la funci√≥n cuadr√°tica `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La funci√≥n debe explorar posibles valores de `a`, `b`, y `c` utilizando un m√©todo de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la funci√≥n `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son n√∫meros peque√±os.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [23]:
import numpy as np

def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c
def error(y, y_pred):
    return y - y_pred
X = np.array([0,1,2,3,5])
Y = np.array([0,8,12,12,0])

def buscar_coeficientes():
    diferencia_menor=float('inf')
    mejorRes= (0,0,0)

    for a in np.linspace(-10, 10, 100):
        for b in np.linspace(-10, 10, 100):
            for c in np.linspace(-10, 10, 100):
                valor_y = f(X, [a, b, c])
                diferencia_error = np.sum(error(Y, valor_y)**2)

                if diferencia_error < diferencia_menor:
                    diferencia_menor = diferencia_error
                    mejorRes = (a,b,c)
                    
    return mejorRes
coeficientes = buscar_coeficientes()
coeficientes = np.round(coeficientes).astype(int)
print(f"El valor de A es: {coeficientes[0]}\nEl valor de B es: {coeficientes[1]}\nEl valor de C es: {coeficientes[2]}")

El valor de A es: -2
El valor de B es: 10
El valor de C es: 0

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la funci√≥n que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la funci√≥n.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la funci√≥n y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agreg√°ndoles un peque√±o valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [25]:
import numpy as np
from numpy.random import randint, random

def f(x, coeficientes):
    a,b,c = coeficientes
    return a*x**2 + b*x + c

def error(y, y_pred):
    return np.sum((y - y_pred)**2)

X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8,12,11, 1]) # Observar que no son los mismos valores que en el ejemplo anterior

def buscar_coeficientes():
    coeficiente= randint(-10, 10, 3)
    y_pred= f(X, coeficiente)
    calculo_error = error(Y, y_pred)
    
    while calculo_error > 1: 
        nuevos_coef= coeficiente + (random(3) - 0.5) * 0.001
        nuevo_y_pred=f(X, nuevos_coef)
        nuevo_calculo_error=error(Y, nuevo_y_pred)
        if nuevo_calculo_error < calculo_error:
            coeficiente = nuevos_coef
            calculo_error = nuevo_calculo_error
        
    return coeficiente
coeficientes = buscar_coeficientes()
print("Los coeficientes son: \n")

for coeficiente in coeficientes:
    coeficiente = np.round(coeficiente).astype(int)
    print(f"{coeficiente}\n")

Los coeficientes son:

-2

9

1